html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regulat"), 
    url("../fonts/AnyConv.com__Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"), 
    url("../fonts/AnyConv.com__Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-extraBotd"), 
    url("../fonts/AnyConv.com__Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --orange-color: #FF9900;
    --dark-orange: #E1670E;
    --gray-color: #CACACA;
    --midle-gray-color: #666666;
    --dark-gray-color: #414141;
    --light-orange: #FFB84D; 
}

.list-resert {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    min-height: 42px;
    padding: 0px 38px;
    color: var(--white-color);
    border: none;
    background-color: var(--orange-color);
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    transition: background-color 0.3s ease-in-out;
}

.btn:focus {
    background-color: var(--light-orange);
}

.btn:hover {
    background-color: var(--light-orange);
}

.btn:active {
    background-color: var(--dark-orange);
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--black-color);
}

.text {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black-color);
}

.container {
    max-width: 1920px;
    padding: 0 75px;
    margin: 0 auto;
}

/* header */

.header {
    margin-bottom: 40px;
    border-bottom: 1pc solid rgba(255, 255, 255, 1);
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    
}

.burger {
    display: none;
  }

.header__logo {
    padding-top: 7px;
    margin-right: auto;
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 240px;
    
}

.nav__item {
    margin: 0;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: var(--black-color);
    transition: color 0.3s  ease-in-out;
}

.nav__item:focus {
    outline-offset: 2px;
    outline: 2px solid var(--orange-color);
}

.nav__item:hover {
    border-bottom: 2px solid var(--orange-color);
}

.nav__item:active {
    color: var(--dark-orange);
    border-bottom: 2px solid var(--dark-orange);

}

.nav__item:not(:last-child) {
    margin-right: 85px;
} 

.header__search {

    margin-top: 8px;
    max-width: 35px;
    max-height: 35px;
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
}

.header__search-search {
    stroke: var(--black-color);
    transition: stroke 0.3s ease-in-out, outline 0.3s ease-in-out ;
}

.header__search-search:focus {
    outline-offset: 1px;
    outline: 1px solid var(--orange-color);
    stroke: var(--black-color);
}

.header__search-search:hover {
    stroke: var(--orange-color);
}

.header__search-search:active {
    stroke: var(--orange-color);
    outline: none;
}

.header__form {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    width: 29%;
    min-width: 539px;
    height: 60px;
    padding: 5px 30px ;
    z-index: 1000;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__form--active {
    visibility: visible;
    transform: none;
}

.header__input {
    width: 84%;
    max-width: 412px;
    border: none;
    border-bottom: 1px solid var(--gray-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

}

.header__btn {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--gray-color);
    border-radius: 50%;
    cursor: pointer;
    color: var(--gray-color);
    background-color: transparent;
    z-index: 1001;
}

.btn__line {
    position: absolute;
    left: 21%;
    top: 47%;
    width: 12px;
    height: 2px;

    background-color: currentColor;
}

.btn__line:first-child {
    transform: rotate(45deg);
    transform-origin: center;
}

.btn__line:last-child {
    bottom: auto;
    right: -75%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
}

/* section hero */

.hero__container {
    position: relative;
    min-height: 720px;
    margin-bottom: 50px;   
}

.swiper {
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    border-radius: 32px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: var(--white-color);
}

.slide1 {
    background-image: url(../img/hero_back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    background-image: url(../img/hero-slide-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3 {
    background-image: url(../img/hero-slide-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__text {
    position: relative;
    z-index: 0;
    padding-top: 100px;
    pointer-events: none;
}


.hero__title {
    width: 53%;
    margin: 0;
    margin-bottom: 24px;

    font-weight: 800;
    font-size: 70px;
    line-height: 85px;

    color: var(--white-color);
}

.hero__descr {
    width: 53%;
    margin: 0;
    margin-bottom: 5%;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: var(--white-color);
}

.hero__btn {
    margin: 0;
    min-height: 78px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    pointer-events: auto;
    
}

/* section about */

.about__text {
    margin: 0;
    margin-bottom: 50px;
}

.about__title {
    margin-bottom: 20px;
}

.about__descr {
    width: 70%;
}

.about__info {
    display: flex;
    min-height: 622px;
    margin: 0;
    margin-bottom: 98px;
}

.about__info-left {
    display: flex;
    width: 50%;
    margin-right: 32px;
    align-items: flex-end;
    background-image: url(../img/about-us.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
}

.about__info-back {
    display: flex;
    justify-content: space-around;
    min-height: 196px;
    align-items: center;
    background-image: url(../img/Rectangle\ 5.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 32px;
}

.about__info-text {
    width: 50%;
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 32px;

    color: var(--white-color);
}

.about__info-btn  {
    min-width: 175px;
    min-height: 60px;
    padding-top: 20px;
    padding-left: 38px;
    align-items: center;
    outline: 3px solid var(--orange-color);
    border-radius: 16px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:  var(--white-color);
    transition: background-color 0.3s ease-in-out;
}

.about__info-btn:focus {
    background-color: var(--orange-color);
}

.about__info-btn:hover {
    background-color: var(--orange-color);
}

.about__info-btn:active {
    background-color: var(--dark-orange);
    border: none;
}

.about__info-right {
    width: 50%;
}

.inf {
    min-height: 295px;
    padding: 61px 12px 39px 297px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;
}

.inf:not(:last-child) {
    margin-bottom: 32px;
}

.descr {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.about__info-desc {
    max-width: 450px;
}

.about__info-1 {
    background-image: url(../img/Frame16.svg);
    background-position: 9% center;
    background-repeat: no-repeat;
    background-size: 190px 165px;
}

.about__info-2 {
    background-image: url(../img/Frame12.svg);
    background-position: 9% center;
    background-repeat: no-repeat;
    background-size: 190px 165px;
}

/* section work */

.work__container {
    margin-bottom: 100px;
}

.work__title {
    margin-bottom: 52px;
}

.work__slide {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-bottom: 47px;  
}

.work__slide-link {
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.work__slide-link:focus {
    outline: 2px solid var(--orange-color);
}

.work__slide-link:hover {
    color: var(--orange-color);
}

.work__slide-link:active {
    color: var(--dark-orange);
    outline: none;
}

.work__text {
    display: none;
}

.work__text--active {
    display: block;
}

.tag-img {
    width: 55%;
    min-height: 465px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 32px;  
}

.tag1 {
    background-image: url(../img/section-work.png);  
}

.tag2 {
    background-image: url(../img/work2.png);
}

.tag3 {
    background-image: url(../img/work3.png);
}

.tag4 {
    background-image: url(../img/work4.png);
}

.work__text {
    min-height: 465px;

}

.work__tag {
    display: flex;
}

.tag {
    width: 43%;
    margin-right: 10px;
}

.work__text-descr {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.work__text-text1 {
    display: inline-block;
    /* margin-bottom: 18px; */
}



.work__btn {
    display: flex;
    padding-top: 14px;
}

.work__btn1 {
    min-height: 60px;
    margin-right: 32px;
    min-height: 60px;
    padding: 20px 38px;
}

.work__btn2 {
    min-height: 60px;
    padding: 18px 38px;
    outline: 1px solid var(--black-color);
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
    background-color: var(--white-color);
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.work__btn2:focus {
    color: var(--white-color);
    background-color: var(--midle-gray-color);
    border-color: var(--midle-gray-color);
}

.work__btn2:hover {
    color: var(--white-color);
    background-color: var(--midle-gray-color);
    border-color: var(--midle-gray-color);
}

.work__btn2:active {
    color: var(--white-color);
    background-color: var(--black-color);
}

/* section question */

.accordion-list .accordion {
    position: relative;
}

.accordion-list .accordion .accordion__control {
    position: relative;
    cursor: pointer;
}

.accordion__content {
    position: relative;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    border-top: 1px solid var(--gray-color);
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.accordion--active .accordion__content {
    visibility: visible;
    min-height: 250px;
}

.question__title {
    margin-bottom: 32px;
}

.question__container {
    margin-bottom: 100px;
}

.question__item {
    width: 100%;
    
}

.question__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 29px 0;
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--gray-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.question__text {
    text-align: left;
}

.last-btn {
    border-bottom: 1px solid var(--gray-color);
}

.question__btn:focus {
    color: var(--orange-color);
    border-top: 1px solid var(--orange-color);
    fill: var(--orange-color);
}

.question__btn:hover {
    color: var(--orange-color);
    border-top: 1px solid var(--orange-color);
    fill: var(--orange-color);
}

.question__btn:active {
    color: var(--black-color);
    border-top: 1px solid var(--gray-color);
}

.question__img {
    flex-shrink: 0;
    fill: var(--gray-color);
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.question__btn .question__img:focus {
    fill: var(--orange-color);
}

.question__btn .question__img:hover {
    fill: var(--orange-color);
}

.question__btn .question__img:active {
    transform: rotate(45deg);
    fill: var(--gray-color);
}

.accordion--active .question__img {
    transform: rotate(45deg);
}

.question__text {
    margin: 0;
}

/* footer */

.footer {
    background-color: var(--black-color);
}

.footer__container {
    max-width: 1920px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;

}

.footer__1 {
    width: 30%;

    
}

.footer__logo {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    
}

.navf__list {
    margin-bottom: 85px;
}

.navf__link {
    color: var(--gray-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.navf__link:focus {
    outline: 2px solid var(--orange-color);
}

.navf__link:hover {
    color: var(--orange-color);
}

.navf__link:active {
    outline: none;
    color: var(--dark-orange);
}

.footer__list {
    display: flex;
}

.footer__item:first-child {
    margin-right: 25px;
}

.footer__svg {
    fill: var(--midle-gray-color);
    transition: fill 0.3s ease-in-out, border 0.3s ease-in-out;
}

.footer__svg:focus {
    border: 2px solid var(--orange-color);
}

.footer__svg:hover {
    fill: var(--orange-color);
}

.footer__svg:active {
    outline: none;
    fill: var(--dark-orange);
}

.footer__2 {
    width: 33%;
}

.footer__descr {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--gray-color);
}

.footer__form {
    margin-bottom: 32px;
}

.form__input {
    width: 97%;
    min-height: 60px;
    padding-left: 24px;
    border-radius: 16px;
    border: none;
    color: var(--gray-color);
    background-color: var(--dark-gray-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
    background-color: var(--midle-gray-color);
}

.form__input:hover {
    background-color: var(--midle-gray-color);
}

.form__input:active {
    background-color: var(--midle-gray-color);
}

.form__input:not(:last-child) {
    margin-bottom: 25px;
}

.form__input:last-child {
    padding-top: 14px;
    padding-bottom: 100px;
}

.footer__btn {
    display: block;
    padding: 19px 52px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.footer__check {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.footer__checkbox {
    -webkit-appearance: none;
    padding-left: 20px;
}

.footer__check-box {
    position: absolute;
    margin-top: 8px;
    margin-left: -20px;
    width: 15px;
    height: 15px;
    background-image: url(../img/check-off.svg);
}

.footer__checkbox:checked + .footer__check-box {
    background-image: url(../img/Check-on.svg);
}

.footer__3 {
    width: 32%;
    padding-top: 73px;
    padding-left: 205px;
    
}

.footer__desc {
    max-width: 363px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--gray-color);
}